<div id="<%= dom_id game %>" class="card w-[250px]">
  <header class="card-header">
    <h2 class="card-title">
      <%= game.name %>
    </h2>

    <p class="card-subtitle">
      <%= game.description %>
    </p>
  </header>

  <div class="card-body text-center">
    <p>
      <%= game.rules %>
    </p>
  </div>

  <%= button_to "play game!", game, method: :get, class: "btn" %>
</div>
