<div
  data-controller="matching-game"
  data-matching-game-target="matched-sets"
  data-action="gameUpdate->matching-game#receiveUpdate"
  data-matching-game-total-sets-value="<%= @game.card_collection.count / 2 %>"
  class="w-full text-center flex flex-col justify-center items-center gap-5"
>

  <header>
    <h2 class="font-semibold text-2xl">
      <%= @game.name %>
    </h2>

    <p class="italic text-xl">
      <%= @game.description %>
    </p>
  </header>

  <section class="py-3 text-left">
    <p>
      <strong>Rules: </strong>
      <%= @game.rules %>
    </p>
    <p>
      <strong>Matched Sets:</strong>
      <span id="matched-sets" data-matching-game-target="matched">0</span>
      / <%= @game.card_collection.count / 2 %>
    </p>
    <div class="text-center pt-3">
      <%= button_to "Play again?",
        @game,
        method: :get,
        target: "_top",
        data: {
          turbo_frame: "game_#{@game.id}",
          action: "click->matching-game#resetGame"
        },
        class: "btn"
      %>
    </div>
  </section>

  <%= turbo_frame_tag @game do %>
    <section class="flex flex-wrap justify-center items-center px-5 gap-5 lg:grid lg:grid-cols-8 xl:grid-cols-10" >
      <% @cards.each do |card| %>
        <%= content_tag :div,
          class: ["game-card", "z-90", "border-t-4", "border-t-orange-600", "game-card-initial"],
          style: "color: #{card.text_color};",
          dom_class: "c#{card.id}",
          data: {
            controller: "matching-card",
            action: "click->matching-card#flipCard",
            matching_card_initial_color_value: card.bg_color,
            matching_card_target: "card",
            matching_game_target: "card"
          } do %>
            <span data-matching-card-target="name" class="hidden select-none">
              <%= card.rank.name %>
            </span>
            <span data-matching-card-target="name" class="italic hidden select-none">
              <%= card.suit.display_name %>
            </span>
        <% end %>
      <% end %>
    </section>
  <% end %>
</div>
