<div id="<%= dom_id @game %>" class="w-full text-center flex flex-col justify-center items-center gap-5">
  <header>
    <h2 class="font-semibold text-2xl">
      <%= @game.name %>
    </h2>

    <p class="italic text-xl">
      <%= @game.description %>
    </p>
  </header>

  <section>
    <p>
      <strong>Rules: </strong>
      <%= @game.rules %>
    </p>
  </section>

  <section class="grid gap-3 grid-cols-8">
    <% @cards.each do |card| %>
      <%= render "card", card: card %>
    <% end %>
  </section>
</div>
