<!DOCTYPE html>
<html>
  <head>
    <title>Minigames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="fixed top-0 left-0 h-14 w-full flex justify-center items-center text-white bg-black">
      <%= link_to "--> Game List", root_url %>
    </nav>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-blue-50 mb-5 text-blue-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <main class="container mx-auto mt-20 pt-5 pb-20">
      <%= yield %>
    </main>
  </body>
</html>
